/* KÉPEK ÉS NAVIGÁCIÓ FORMÁZÁSA */

/* A fő cikk képe töltse ki a rendelkezésre álló szélességet */
.post-img {
  width: 100%;
  height: auto;
}

/* Navigációs linkek */
nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

/* Az utolsó link után ne legyen felesleges térköz */
nav a:link:last-child {
  margin-right: 0;
}
