/* BOX MODEL ÉS OLDAL ELRENDEZÉS */

/* Alapértelmezett margók és belső térközök nullázása */
* {
  margin: 0;
  padding: 0;
}

/* Az oldal fő tartalmi doboza */
.container {
  width: 800px;
  margin: 0 auto;
}

/* Fő fejléc */
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

/* Cikk */
article {
  margin-bottom: 60px;
}

/* A cikk saját fejléce */
.post-header {
  margin-bottom: 40px;
}

/* Kapcsolódó tartalom */
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}
