/* Térköz-reset: minden elemet közvetlenül kijelöl */
* { margin: 0; padding: 0; }
body { color: #444; font-family: sans-serif; }
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}
nav { font-size: 18px; }
article { margin-bottom: 60px; }
.post-header {
  margin-bottom: 40px;
  position: relative;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 40px;
  width: 300px;
}
h1, h2, h3, h4 { color: #1098ad; }
h2 { margin-bottom: 30px; }
h3 { margin-top: 40px; margin-bottom: 20px; }
p { margin-bottom: 15px; }
ul, ol { margin-left: 50px; margin-bottom: 20px; }
li { margin-bottom: 10px; }
li:last-child { margin-bottom: 0; }
.post-img { width: 100%; height: auto; }
.container { width: 800px; margin: 0 auto; }
nav a:link,
nav a:visited {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
nav a:link:last-child,
nav a:visited:last-child { margin-right: 0; }

/* 12. óra: abszolút pozicionálás */
.like-button {
  padding: 8px 12px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
