body {
  color: #444;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #1098ad;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}
