body { color: #444; font-family: sans-serif; }
h1, h2, h3, h4 { color: #1098ad; }
body > header { background-color: #f7f7f7; }
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}
/* A térközöket, osztályszelektorokat és méreteket az órán adjuk hozzá. */
