* { margin: 0; padding: 0; box-sizing: border-box; }
body { color: #444; font-family: sans-serif; }
.container { width: 900px; margin: 0 auto; }
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav { font-size: 18px; }
nav a:link, nav a:visited {
  display: inline-block;
  margin-right: 24px;
}
nav a:last-child { margin-right: 0; }
article { margin-bottom: 50px; }
.post-header { margin-bottom: 40px; position: relative; }
.author-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.author { margin-bottom: 0; }
.post-img { width: 100%; height: auto; }
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 30px;
  width: 420px;
  margin-bottom: 40px;
}
h1, h2, h3, h4 { color: #1098ad; }
h2 { margin-bottom: 30px; }
h3 { margin-top: 40px; margin-bottom: 20px; }
h4 { margin-bottom: 24px; }
p { margin-bottom: 15px; }
ul { margin-left: 40px; margin-bottom: 20px; }
li { margin-bottom: 12px; }
li:last-child { margin-bottom: 0; }
.like-button {
  padding: 8px 12px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.related { list-style: none; margin-left: 0; }
.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.related-link:link, .related-link:visited {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}

/* 18. óra – FELADAT
   1. Készíts .row flex konténert az article és aside számára.
   2. Használj 75px gap-et.
   3. Az aside legyen pontosan 300px széles flex: 0 0 300px segítségével.
   4. Az article töltse ki a maradék helyet flex: 1 segítségével.
   5. Az elemek ne nyúljanak egyforma magasra: align-items: flex-start.
*/
